/* Changed the font to a size 60px, aligned to center and set the 
tex color to black. Then added some padding to the bottom to give
more space between the next element and it so it'd appear even.
Finally, set the margin to 0 so there would be no spacing between
the heading and the IGME h2*/
h1{
    font-size: 60px;
    text-align: center;
    color: black;
    padding-bottom: 20px;
    margin: 0; 
    border: 3px solid black;
}
/*set up a border specifically around h2 without a top border so there
wouldn't be a weird thick line between the 2 text elements*/
h2{
    
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right:3px solid black;
    

}
/*set h2 and h3 to same font size & color so the table would be positioned
in a pleasing way.*/
h2,h3{
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 20px;
    margin:0;
}
/*set the canvas to 800 pixels and added a margin around it for spacing
 between the sides other than top*/
body{
    width: 800px;
    margin: 0 auto;
   /* background-color: #f0ead6;
border: 10px solid black;*/
}
/*float the image so it'd constantly be on the left, wanted a constant
 size of 300 px.and added a margin from each side but the left for 
 alignment purposes with the top pieces*/
img{
    border: 2px solid black;
    float: left;
    width: 300px;
    height: 300px;
    margin: 5px 5px 5px 0px;
}
/*set a thick gray border around the table with some padding to not croud
the rows and columns*/
table{
    border: 10px solid gray;
    float: right;
    padding: 5px;
    margin: 5px 0px 5px 5px;
    
}
/* i wanted the th(table heading) and the columns yo have a border of the
 same thickess */
th, td{
    border:2px solid black;
    
    text-align: center;
}