h1{
    font-size: 60px;
    text-align: center;
    color: black;
    padding-bottom: 20px;
    margin: 0; 
}
h2{
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 20px;
    margin:0;
}
body{
    width: 800px;
    margin: 0 auto;
    background-color: #f0ead6;
    border: 10px solid black;
}