/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/

#wrapper{
    display: grid;
    width: 90vw;
    max-width: 1200px;
    min-height: 100vh;
     
    grid-template-rows: 4rem auto 3rem;
    grid-template-columns: 1fr 2fr 200px;
    grid-template-areas:
    "head head head"
    "aside article nav"
    "footer footer footer";
}
#wrapper > header{/*sets up a "name" for use in the grid template areas function. used in media screen*/
    grid-area: head;
}
#wrapper > nav{
    grid-area: nav;
}
#wrapper > aside{
    grid-area: aside;
}
#wrapper > article{
    grid-area: article;
}
#wrapper > footer{
    grid-area: footer;
}

header, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuitem{
    background-color: white;
    margin: 0;
    border-top: 1px solid #b5e7a0;;
}
.submenu{
    list-style-type: none; /*https://www.w3schools.com/css/css_list.asp*/
    margin: 0;
    padding: 0;
}
.submenu li{
    padding-left: .25rem;
    background-color: lightgrey;
    
}

@media screen and (max-width: 640px){
    #wrapper{
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:/*sets up a grid using the area names*/
        "head"
        "nav"
        "article"
        "aside"
        "footer";
    }

}